<% if book.favorited_by?(current_user) %> <!-- 投稿に付けられた『いいね』に自分（ログインユーザー）が含まれているか -->
  <p> <!-- 含まれている場合 -->
    <%= link_to book_favorites_path(book), method: :delete do %>
      ♥<%= book.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p> <!-- 含まれていない場合 -->
    <%= link_to book_favorites_path(book), method: :post do %>
      ♡<%= book.favorites.count %> いいね
    <% end %>
  </p>
<% end %>